html, body {
    margin:0px;
    height:100%;
    font-family: 'Roboto', sans-serif;
  }

body{
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: inline;
    size: 400%;
	background: linear-gradient(-45deg, #f82323, #ff6823, #32db2c, #2326d5, #7822e9);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.inner{
    margin: 0 20% 0 2% 0%;
    font-size: 150%;
}

