:root{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    
}

html, body {
    margin:0px;
    padding: 0px;
    height:100%;
    font-family: 'Roboto', sans-serif;
  }

body{
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: inline;
    size: 400%;
	background: linear-gradient(-45deg, #f82323, #ff6823, #32db2c, #2326d5, #7822e9);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.wrapper{
    margin-left: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    font-size: 150%;
}

.navbar{
    width: 5rem;
    height: 100vh;
    background-color: #2F314F;
    position: fixed;
    transition: 200ms ease;
}

.navbar:hover{
    width: 11rem;
}

.navbar:hover .navtext{
    display: block;
}

.navbarnav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.navitem{
    width: 100%;
}

.navitem:last-child{
    margin-top: auto;
}

.navlink{
    color: #82849A;
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    transition: 600ms;
    filter: grayscale(100%) opacity(0.7);
}
.navlink:hover{
    color: #4C73A4;
    filter: grayscale(0%) opacity(1);
    background: #1d1f31;
    
}

.navlink:focus{
    outline: none;
}

.svg-inline--fa{
    color: #4C73A4;
    transition: 600ms;
}

.navlink svg{
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navtext{
    display: none;
}